html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
}

@media only screen and (min-width: 0) {
    html {
        font-size: 14px;
    }
  }
  
@media only screen and (min-width: 992px) {
    html {
        font-size: 14.5px;
    }
}
  
@media only screen and (min-width: 1200px) {
    html {
        font-size: 15px;
    }
}

footer,
header,
main,
nav {
    display: block;
}

body {
    margin: 0;
    background-color:white;
}

main {
    flex: 1 0 auto;
}

nav {
    color: black;
    background-color: #e57373;
    width: 100%;
    min-height: 50px;
    line-height: 50px;
    padding: 10px 0px;
}

nav a {
    color: black;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a {
    color: #1976d2;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

a {
    text-decoration: none;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

.brand-logo {
    position: absolute;
    color: white;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
}

.button {
    width: 100%;
    height: 100%;
}

.flexbox {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.frame {
    background: #e57373;
    border-radius: 10px;
}

.material-icons {
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: 'liga';
       -moz-font-feature-settings: 'liga';
            font-feature-settings: 'liga';
}

nav i.material-icons {
    display: block;
    font-size: 24px;
    height: 56px;
    line-height: 56px;
}

nav .brand-logo i,
nav .brand-logo [class^="mdi-"], nav .brand-logo [class*="mdi-"],
nav .brand-logo i.material-icons {
  float: left;
  margin-right: 15px;
}

i {
    line-height: inherit;
  }
  
  i.left {
    float: left;
    margin-right: 15px;
  }
  
  i.right {
    float: right;
    margin-left: 15px;
  }
  
  i.tiny {
    font-size: 1rem;
  }
  
  i.small {
    font-size: 2rem;
  }
  
  i.medium {
    font-size: 4rem;
  }
  
  i.large {
    font-size: 6rem;
  }

.page-footer {
    overflow: hidden;
    min-height: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px 0px;
    color: white;
    background-color: #e57373;
    text-align: center;
}

.page-header {
    position: relative;
    height: 100%;
}

.logo {
    width: 100%;
    height: 100%;
}

